In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("COVID19.db", check_same_thread=False)
cur = conn.cursor()
print('Database connected')

Database connected

In [3]:
q='''SELECT * FROM "covid"'''
df=pd.read_sql(q,con=conn)
df.head()

,pruid,prname,date,numconf,numprob,numdeaths,numtotal,numtested
0,35,Ontario,2020-01-31 00:00:00,3,0,0,3,0
1,59,British Columbia,2020-01-31 00:00:00,1,0,0,1,0
2,1,Canada,2020-01-31 00:00:00,4,0,0,4,0
3,35,Ontario,2020-02-08 00:00:00,3,0,0,3,0
4,59,British Columbia,2020-02-08 00:00:00,4,0,0,4,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pruid      762 non-null    int64
 1   prname     762 non-null    object
 2   date       762 non-null    object
 3   numconf    762 non-null    int64
 4   numprob    762 non-null    int64
 5   numdeaths  762 non-null    int64
 6   numtotal   762 non-null    int64
 7   numtested  762 non-null    int64
dtypes: int64(6), object(2)
memory usage: 47.8+ KB

In [6]:
df['date']=pd.to_datetime(df['date'])

In [7]:
df.head()

,pruid,prname,date,numconf,numprob,numdeaths,numtotal,numtested
0,35,Ontario,2020-01-31,3,0,0,3,0
1,59,British Columbia,2020-01-31,1,0,0,1,0
2,1,Canada,2020-01-31,4,0,0,4,0
3,35,Ontario,2020-02-08,3,0,0,3,0
4,59,British Columbia,2020-02-08,4,0,0,4,0

In [8]:
df['year']=df['date'].dt.year

In [9]:
df['year']

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
757    2020
758    2020
759    2020
760    2020
761    2020
Name: year, Length: 762, dtype: int64

In [13]:
df[["prname", "numtotal", "year"]][df.pruid != (99,1)]

                     prname  numtotal  year
0                   Ontario         3  2020
1          British Columbia         1  2020
2                    Canada         4  2020
3                   Ontario         3  2020
4          British Columbia         4  2020
..                      ...       ...   ...
757                   Yukon        11  2020
758   Northwest Territories         5  2020
759                 Nunavut         0  2020
760  Repatriated travellers        13  2020
761                  Canada     46895  2020

[762 rows x 3 columns]

In [45]:
prlist = pd.read_sql_query(
    """SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;""", con=conn,
)
prlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    16 non-null     object
dtypes: object(1)
memory usage: 256.0+ bytes

In [57]:
condition=(prlist.name=='Canada') | (prlist.name=='covid') | (prlist.name=='Repatriated travellers')
prlist.drop(prlist[condition].index)

                         name
0                     Alberta
1            British Columbia
3                    Manitoba
4               New Brunswick
5   Newfoundland and Labrador
6       Northwest Territories
7                 Nova Scotia
8                     Nunavut
9                     Ontario
10       Prince Edward Island
11                     Quebec
12     Repatriated travellers
13               Saskatchewan
14                      Yukon